@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(86, 87, 87, 0.233),
      rgba(202, 226, 214, 0.288)
    ),
    url("./images/milky-way.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.box {
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(247, 247, 247);
  padding: 2%;
}

.advice {
  font-size: 18px;
  font-family: "Alfa Slab One", cursive;
  align-items: center;
  color: rgb(27, 16, 90);
  padding: 30px;
}

.advice-btn {
  font-family: "Alfa Slab One", cursive;
  color: rgb(27, 16, 90);
  background-color: rgb(247, 247, 247);
  position: relative;
  top: 500px;
  right: 350px;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 100px;
  opacity: 1;
}
